<h1>Filtrar por:</h1>
<h2>
    <a href="/pecas-camisas">
        <button>Camisas</button>
    </a>
</h2>
<h3>
    <a href="/pecas-calcas">
        <button>Calças</button></h3>
    </a>
</h3>
<h4>
    <a href="/pecas-sapatos">
        <button>Sapatos</button>
    </a>
</h4>
<h5>
    <a href="/pecas-agasalhos">
        <button>Agasalhos</button>
    </a>
</h5>
<h6>
    <a href="/pecas-tudo">
        <button>Tudo</button>
    </a>
</h6>



<h7>
    <a href="/">
        <button>Voltar</button>
    </a>
</h7>